<div style="height: auto; background-color: black" id="footer">
  <div class="col-12" style="padding: 5rem">
    <p>Envianos tu pregunta!</p>

    <form>
      <div class="mb-2">
        <label for="exampleInputEmail1" class="form-label">Pregunta</label>
        <input type="text" class="form-control" id="question" />
      </div>
      <div class="mb-2">
        <label for="exampleInputPassword1" class="form-label">Correo</label>
        <input type="email" class="form-control" id="correo" />
      </div>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
  </div>
  <div class="col-12">
    <p style="display: flex; justify-content: space-around">
      © 2024 Smart Connection todos los derechos reservados
    </p>
  </div>
</div>
