<ion-content>
  <div class="container" style="margin-bottom: 2rem">
    <div class="row">
      <div
        class="col-12 margin-col"
        style="display: flex; justify-content: center"
      >
        <h1>Aviso de Privacidad "Froggy"</h1>
      </div>
      <div
        class="col-12 margin-col"
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 1rem;
        "
      >
        <img
          src="/assets/images/froggy/icon.png"
          alt=""
          style="max-width: 5rem; max-height: 5rem"
        />
      </div>
      <div class="col-12 fs-5" style="margin-bottom: 1rem">
        En Smart Connection
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <p>
          Estamos comprometidos con la protección de tu privacidad. Este aviso
          de privacidad describe cómo recopilamos, utilizamos y protegemos la
          información personal que nos proporcionas al descargar e utilizar
          nuestro videojuego.
        </p>
      </div>

      <div class="col-12">
        <p>
          Información que recopilamos: Datos de contacto: Correo electrónico,
          nombres y apellidos. Información del dispositivo: Solo recopilamos
          información básica sobre la configuración de tu dispositivo, necesaria
          para garantizar una experiencia de juego óptima.
        </p>
      </div>

      <div
        class="col-12"
        style="margin: 2rem; display: flex; justify-content: center"
      >
        <img
          src="/assets/images/froggy/telefono-privacy.jpg"
          alt=""
          style="max-width: 40rem"
        />
      </div>

      <div class="col-12">
        <p>
          Cómo utilizamos tu información: Creación de cuenta: La información que
          nos proporcionas se utiliza para crear tu cuenta de usuario y
          permitirte acceder al juego. Comunicación: Podemos utilizar tu correo
          electrónico para enviarte notificaciones importantes sobre el juego,
          actualizaciones, o para responder a tus consultas. Mejora del juego:
          Los datos recopilados de forma anónima nos ayudan a analizar el uso
          del juego y a realizar mejoras. Compartir tu información: No
          compartimos tu información personal con terceros, excepto cuando sea
          necesario para cumplir con las leyes aplicables o para proteger
          nuestros derechos.
        </p>
      </div>

      <div class="col-12">
        <p>
          Seguridad de tu información: Implementamos medidas de seguridad
          adecuadas para proteger tu información personal de acceso no
          autorizado, divulgación, alteración o destrucción. Tus derechos:
          Tienes derecho a acceder, rectificar, cancelar u oponerte al
          tratamiento de tus datos personales. Para ejercer estos derechos,
          puedes comunicarte con nosotros a través de
          <span style="font-size: 1.1rem"
            >connection.smart.entreprise&#64;gmail.com</span
          >
        </p>
      </div>

      <div
        class="col-12"
        style="margin: 2rem; display: flex; justify-content: center"
      >
        <img
          src="/assets/images/froggy/security-privacy.jpg"
          alt=""
          style="max-width: 40rem"
        />
      </div>

      <div class="col-12">
        <p>
          Cambios en este aviso: Podemos actualizar este aviso de privacidad
          ocasionalmente. Te notificaremos sobre cualquier cambio significativo.
          Contacto: Si tienes alguna pregunta sobre este aviso de privacidad,
          puedes contactarnos a través de
          <span style="font-size: 1.1rem"
            >connection.smart.entreprise&#64;gmail.com</span
          >
        </p>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</ion-content>
