<ion-content>
  <div class="container">
    <div class="row">
      <div
        class="col-6"
        style="
          display: flex;
          justify-content: end;
          align-items: center;
          margin-top: 1rem;
        "
      >
        <img
          src="/assets/images/froggy/icon.png"
          alt=""
          style="max-width: 3rem; max-height: 3rem"
        />
      </div>

      <div
        class="col-6"
        style="
          margin-top: 1.2rem;
          margin-bottom: 1.2rem;
          display: flex;
          justify-content: start;
        "
      >
        <h1 class="text-center fs-1">Froggy</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <img src="/assets/images/froggy/froggy-home.jpeg" alt="" />
      </div>
      <div class="col-12">
        <p class="fw-medium fs-5">
          Sumergete en la emocionante aventura de Froggy
        </p>
      </div>

      <div class="col-12">
        <div class="row">
          <div class="col-12 col-md-6">
            <img src="/assets/images/froggy/froggy-game1.jpeg" alt="" />
          </div>

          <div class="col-12 col-md-6">
            <img src="/assets/images/froggy/froggy-gameover.jpeg" alt="" />
          </div>

          <div class="col-12">
            <p>
              ¡Prepárate para la acción con Froggy! Salta, escala y lucha contra
              enemigos en un mundo lleno de peligros y sorpresas.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <img src="/assets/images/froggy/froggy-menu.jpeg" alt="" />
          </div>

          <div class="col-12 col-md-6">
            <img src="/assets/images/froggy/froggy-game.jpeg" alt="" />
          </div>
        </div>
      </div>
      <div class="col-12">
        <p>
          Desbloquea nuevas habilidades, compra nuevos personajes y conviértete
          en el héroe que siempre has querido ser. Como jugar: En el lado
          izquiero de la pantalla se encuentra la area del joystick con la cual
          podras dirigir a Froggy y en el lado izquierdo el botón para saltar.
          Cuidado con los enemigos, pudes vencerlos saltando sobre ellos,
          encuentra al jefe y recolecta la mayor cantidad de frutas para ayudar
          a Froggy.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <button
          class="btn btn-info"
          [routerLink]="'/froggy/privacy'"
          routerLinkActive="selected"
        >
          Politicas de privacidad
        </button>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</ion-content>
